.Register .registermobile {
  display: none;
}

.Login {
    background-image: url(../../assets/images/badminton2.jpg);
    background-size: cover;
    height: 120vh;
  }
  
.Login .main {
  color: white;
  margin: auto;
  position: relative;
  top: -60px;
  padding: 40px 20px 60px 20px;
  border-radius: 20px;
  width: 750px;
  background-color: #0b2c63;
  
}

.Login .nav {
  justify-content: center;
}

.Login .nav-item {
  color: white;
  margin: 2.5px 10px 30px 10px;
  background-color: #007bff;
} 

.Login .nav-item:hover,
.Login .nav-item:focus,
.Login .nav-item:target { 
  background-color: #005fc4;
}

.Login .logo {
  position: relative;
  display: block;
  margin: auto;
  top: 20px;
  z-index: 1;
}

.Login .toptext p, .Login .toptext h1, .Login .contact p  {
  text-align: center;
  margin: 0 auto;
}

.Login .toptext h1 {
  margin-top: 70px;
  font-size: 48px;
}

.Login .toptext p {
  margin-top: 10px;
  margin-bottom: 30px;
}

.Login .contact p {
  max-width: 300px;
  margin-bottom: 15px;
}

.Login .login .btn, .Register .register .btn  {
  margin-top: 15px;
  font-size: 22px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

.Login .form-control {
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .Register .registermobile {
    display: unset;
  }

  .Register .registerdesktop {
    display: none;
  }

  .Login {
    background-image: unset;
    margin-bottom: 350px;
  }

  .Login .main {
    width: 80%;
  }

  .Login .toptext h1 {
    font-size: 36px
  }

  .Login .form-label {
    display: block;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .Login .form-control {
    width: 100%
  }

  .Register .register .btn, .Login .login .btn {
    width: 100%;
  } 
  
  .Login .toptext h1 {
    font-size: 22px;
  }

  .Login .toptext p, .Login .contact p {
    font-size: 15px;
  }
}

@media (max-width: 335px) {
  .Login .nav-item:first-child {
    margin-bottom: 2px;
  }
}