.WelcomeLogo {
}

.WelcomeLogo .img {
    align-items: center;
}

.WelcomeLogo p {
    text-align: right;
}

.Login {
    position: fixed;
    top: 25%;
    left: 25%;
}

.Login .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login .logo {

}

.Login .login {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: #0b2c63;
    border-radius: 10px;
    color: white;
    text-align: center;
    align-content: center;
    padding: 20px;
}

.Login form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    align-content: center;
    width: 60%;
}