body {
    background-color: white;
}

.Home {
    margin-top: 10rem;
}

.Home .feedcol {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .Home .feedcol {
        border-radius: 0px;
        border: none;
        border-top: 1px solid rgb(209, 209, 209);
        margin-bottom: 30px;
    }
}


.Home .textcol {
    margin-top: 5rem;
}

.Home .infocon {
    text-align: right;
}

.Home .forumcon {
    text-align: left;
}

.Home .forumcon h5, .infocon h5 {
    color: black;
}

.Home .textcol a:hover {
    text-decoration: none;
}

