body {
    background-color: white;
}

.Home {
    margin-top: 10rem;
}

.Home .feedcol {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
}

.Home .textcol {
    margin-top: 40px;
}

.Home .infocon {
    text-align: right;
}

.Home .forumcon {
    text-align: left;
}

.Home .forumcon h5, .infocon h5 {
    color: black;
}

.Home .textcol a:hover {
    text-decoration: none;
}

