
.Home {
    color: white;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.Home .container {
    background-color: #0b2c63;
    border-radius: 10px;
    padding: 30px;
}

.Home .toprow h3 {
    float: left;
    font-size: 24px;
}

.Home .sortposts {
    float: right;
}

.Home .feedcol {
    margin-top: 10px;
}

.Home .textcol a {
    color: white;

}

.Home .textcol a:hover {
    text-decoration: none;
}

.Home .infocon {
    margin: 20px;
    text-align: right;
}

.Home .textcol {
    margin: auto;
    padding-left: 20px;
}

.Home .textcol p {
    font-size: 18px;
}

@media (max-width: 769px) {
    .Home {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .Home h3 {
        font-size: 20px;
    }

    .Home .hidden, .Home .sortposts {
        display: none;
    }

    
@media (max-width: 320px) {
    .Home h3 {
        font-size: 20px;
    }
    
    .Home .textcol {
        margin: auto;
        padding-left: unset;
    }

    .Home .infocon {
        margin: unset;
        margin-top: 20px;
    }
}
}


@media (max-width: 1025px) {
    .Home .textcol h1 {
        font-size: 24px;
    }

    .Home .textcol p {
        font-size: 16px;
    }
}


/*
.Home .infocon img {
    position: relative;
}

.Home .infotext h1 {
    position: absolute;
    top: 200px;
    padding: 10px;
    background-color: rgba(112, 112, 112, 0.637);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-shadow: 0 1px 0 black;
    text-align: right;
}

.Home .forumcon {
    margin: 20px;
    text-align: left;
}

.Home .forumcon img {
    position: relative;
}

.Home .forumtext {
}

.Home .forumtext h1 {
    padding: 10px;
    background-color: rgba(112, 112, 112, 0.637);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 0 1px 0 black;
    text-align: left;
    position: absolute;
    bottom: 150px;
}
*/
