.sideDrawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.sideDrawer.open {
  transform: translateX(0);
}
.sideDrawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 10px solid #0b2c63;
}
.sideDrawer li {
  margin-bottom: 1.5rem;
  margin-left: -15px;
}
.sideDrawer a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}
.sideDrawer a:hover,
.sideDrawer a:active {
  color: gray;
}

@media (min-width: 920px) {
  .sideDrawer {
    display: none;
  }
}
/* .side-drawer {
  min-width: 300px;
  width: 100%;
  max-width: 44%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 2px rgba(15, 15, 15, 0.3);
  z-index: 90;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(4em);
  user-select: none;
  padding: 1em 2.5em;
} */

/* .side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
  } */
/* from w3
  .side-drawer {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
  } */
