 .AdminPanel td, th {
  text-align: center;
  vertical-align: middle;
}

.AdminPanel .toppanel {
  display: inline-flex;
}

.AdminPanel .toppanel .SearchUsers {
  margin-left: 10px;
}

.AdminPanel .usertable {
  background-color: white;
}

.AdminPanel .containerPanel {
  margin-top: 150px;
}

.AdminPanel .btn-link:hover {
  cursor: pointer;
}

.AdminPanel .deletebutton {
  height: 40px;
}

@media (max-width: 425px) {

  .AdminPanel .toppanel{
    display: unset;
  }

  .AdminPanel .toppanel .btn-danger {
    margin-bottom: 10px;
  }

  .AdminPanel .toppanel .SearchUsers {
    margin-left: unset;
  }
}
