.AdminPanel td, .AdminPanel th {
  text-align: center;
  vertical-align: middle;
}

.AdminPanel .top {
  display: inline-flex;
}

.AdminPanel .top .SearchUsers {
  margin-left: 10px;
}

.usertable {
  background-color: white;
}

.AdminPanel .containerPanel {
  margin-top: 150px;
}

.AdminPanel .btn-link:hover {
  cursor: pointer;
}

.AdminPanel .deletebutton {
  height: 40px;
}

@media (max-width: 425px) {

  .AdminPanel .top {
    display: unset;
  }

  .AdminPanel .top .btn-danger {
    margin-bottom: 10px;
  }

  .AdminPanel .top .SearchUsers {
    margin-left: unset;
  }
}
