.Feed .card {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 15px;
}

.Feed .card:last-child {
  border-bottom: none;
}

.Feed .float-left {
  margin: 0;
  font-size: 16px;
  color: grey;
}

.Feed .subtoptitle {
  color: grey;
  float: left;
}

.Feed .likecomment {
  float: right;
}

.Feed .card-title:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  .Feed .card-title {
    margin-left: -10px;
    font-size: 20px;
  }

  .Feed .card-text {
    margin-left: -10px;
    font-size: 14px;
  }

  .Feed .likecomment {
    font-size: 14px;
    margin-left: -10px;
  } 
  
}


@media (max-width: 425px) {
  .Feed .likecomment {
    float: left;
  }
  .Feed .subtoptitle { 
    float: unset;
    }

}