.Forum {
}

.Forum .top {
    padding-bottom: 20px;
    font-size: 1.1vw;
    text-align: center;
}

.Forum .top p {
    padding-top: 20px;
    font-size: 20px;
    color: gray;
}

.Forum .top h4 {
    margin-top: -40px;
    font-size: 1.8vw;
    color: gray;
}

.Forum .top h1 {
    font-size: 2.5vw;
}



@media (max-width: 1024px) {

    .Forum .top h4 {
        font-size: 24px !important;
    }

    .Forum .top h1 {
        font-size: 34px !important;
        margin-bottom: 40px;
    }

    
}

.Forum .main {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    margin-top: 30px;
}

@media (max-width: 1024px) {
.Forum .main {
    border-radius: 0px;
    border: none;
    border-top: 1px solid rgb(209, 209, 209);;
}
}
