

.Forum .body {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: #0b2c63;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.Forum .desktopsearch {
    margin-bottom: 10px;
}

.Forum .top {
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.Forum .topictext {
    color: white;
}

.Forum .newpost {
    float: left;
}

.Forum .sortposts {
    float: right;
}

.Forum .bot {
    margin-top: 10px;
}

.Forum .pages {
    float: left;
}

.Forum .postsperpage {
    float: right;
}

.Pages .pagination .page-item .page-link {
    background-color: white;
    font-size: 16px;
    color: black;
    margin: 1px;
    border: none;
    border-radius: 10px;
}

@media (max-width: 768px) {

    .Forum .top, .Forum .newpost p {
        text-align: center;
        word-wrap: break-word;
        
    }
    .Forum .NewPost p {
        margin-bottom: 20px;
    }

    .Forum .body {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .Forum {
        margin-top: 15px;
    }

    .Forum .newpost .btn, .Forum .sortposts .btn, .Forum .dropdown .btn, .Pages .pagination .page-item .page-link {
        font-size: 14px;
    }

}
@media (max-width: 355px) {

    .Forum .postsperpage {
        display: none;
    }

    .NewPost {
        margin-bottom: 10px;
    }
}

@media (min-width: 1024px) {
    
    .Forum .mobilesearch {
        display: none;
    }
}


@media (max-width: 1023px) {
    .Forum .desktopsearch {
        display: none;
    }

    .Forum .topictext { 
       margin-left: 10px;
    }

    .Forum .topictext h2 { 
        
        font-size: 20px;
    }

    .Forum .sortposts {
        padding-bottom: 10px;
    }

    .Forum .top {
        padding-bottom: 20px;
    }

    .Forum .main {
        margin-top: -20px;
        border-radius: 10px;
    }

    .NewPost p {
        margin: 5px;
    }
}

.Forum .bot .float-mid {
    float: left;
    margin-left: 45%;
}
.Forum .bot .float-right {
    margin-top: 20px;
}

.NewPost p {
    color: white;
    text-align: left;
}


