.Post {
    padding-top: 120px;
}

.Post .main .card {
    margin-bottom: 20px;
    
}

.Post .card .card-body .float-left {
    color: gray;
}

.Post .comments {
    margin-bottom: 20px;
}

.Post .comments .card {
    margin-bottom: 10px;
}

.EditComment .btn {
}