.Post .container {
    background-color: #0b2c63;
    padding: 30px;
    border-radius: 10px;
    margin-top: 120px;
}

@media (max-width: 768px) {
    .Post {
    }
}

.Post .main .card {
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}

.Post .card .card-body .float-left {
    color: gray;
}

.Post .comments {
    margin-bottom: 20px;
}

.Post .comments h3{
    color: white;
}

.Post .comments .card {
    margin-bottom: 10px;
}

.EditComment .btn {
}

.NewComment textarea {
    
}

.NewComment .nav-tabs {
    border-bottom: 0;
}

.NewComment .nav-item{
    background-color: unset;
}
