.Post {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.Post .container {
    background-color: #0b2c63;
    padding: 30px;
    border-radius: 10px;
    margin-top: 120px;
}

.Post .topictext {
    float: right;
}

.Post .main .card {
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
}

.Post .main .card-title {
    font-size: 30px;
}

.Post .card .card-body .float-left {
    color: gray;
}

.Post .comments {
    margin-bottom: 20px;
}

.Post .comments h3 {
    color: white;
}

.Post .commenttop {
    display: inline-flex;
    margin-bottom: 10px;
}

.Post .searchcomments {
    width: 250px;
    margin-right: 10px;
}

.Post .comments .card {
    margin-bottom: 10px;
}

.NewComment .nav-item{
    font-weight: bold;
    color: white;
    background-color: unset;
}

.Post .editdelete {
    float: left;
}

.Post .likecomment {
    float: right;
}

.like:hover {
    cursor: pointer;
    opacity: .5;
}


@media (max-width: 768px) {
    .Post .card-text {
      font-size: 14px;
    }
  
    .Post .likecomment {
      font-size: 14px;
    } 

    .Post {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
  }
  

@media (max-width: 425px) {
    .Post .foruminfo {
        text-align: center;
    }

    .Post .topictext {
        float: unset;
    }

    .Post .main .card-title {
        font-size: 20px;
    }

    .Post .likecomment {
        float: left;
    }
    
    .Post .editdelete {
        float: unset;
        margin-bottom: 15px;
    }
    
    .Post .searchcomments {
        width: unset;
        margin-right: unset;
        float: unset;
    }

    .Post .sortcomments {
        display: none;
    }

}