.Topics {
    margin: auto;
    width: 50%;
    padding-top: 120px;
    padding-bottom: 30px;
}

@media (max-width: 1024px) {
    .Topics {
        width: 90%;
    }
}

.Topics .justify-content-center {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 2px;
}

.Topics .justify-content-center .nav-item{
    background-color: #28a745;
    color: white;
    margin: 5px;
    font-size: 20px;
}

.Topics .justify-content-center .nav-item:hover, .Topics .tabs .nav-item:focus:active, .Topics .tabs .nav-item:focus  {
    background-color: #1b8b35;
}



.Topics .tab {
    padding-top: 2px;
    text-align: center;
    align-content: center;
    margin: auto; 
    padding-bottom: 30px;
}

.Topics .tab .btn {
    margin: 5px;
    background-color: #007bff;
    border: none;
    box-shadow: none;
}

.Topics .tab .btn:hover {
    background-color: #005fc4;
}

.Topics .tab .btn:focus:active {
    border: none;
    box-shadow: none;
}

.Topics .tab .btn:focus {
    box-shadow: none;
    background-color: #005fc4;
}
