.Kunnskapsportalen .container {
    margin-top: 200px;
}

.Kunnskapsportalen .card {
    margin: 10px;
}

.Kunnskapsportalen .card .content {

}

.Kunnskapsportalen .card a {
}

.InfoTopics .tabs {
    float: left;
}

.InfoTopics .tab .btn {
    float: right;
}


.UploadFile .modal-header .title {
}