.Kunnskapsportalen .container {
    margin-top: 200px;
    background-color: #0b2c63;
    border-radius: 10px;
    padding: 30px; 
}

.Kunnskapsportalen h1, h4 {
    text-align: center;
    color: white;
}

.Kunnskapsportalen .top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.Kunnskapsportalen .videocol {
    float: left;
}


.Kunnskapsportalen .documentcol {
    float: right;
}

.Kunnskapsportalen .card {
    margin-top: 10px;
}

.Kunnskapsportalen .card .contentimg {
    float: right;
}

.Kunnskapsportalen .card img, .Kunnskapsportalen .card .icon {
    max-width: 175px;
}

.Kunnskapsportalen .card .title {
    font-size: 30px;
    white-space: nowrap;
    display: inline;
} 

.Kunnskapsportalen .card .content {
    white-space: nowrap;
}

/*Mobile*/
@media (max-width: 425px) {
    .Kunnskapsportalen .card .title {
        white-space: unset;
    }

    .Kunnskapsportalen .card img {
        display: block;
        margin: auto;
        max-width: 100%;
    }    
}

@media (max-width: 320px) {
    .Kunnskapsportalen .card .content {
        white-space: unset;
    }
}

@media (max-width: 767px) {
    .Kunnskapsportalen .card .icon {
        display: none;
    }

    .Kunnskapsportalen .card .title {
        font-size: 24px;
    }    
    
   
}

@media (min-width: 768px) {
    .Kunnskapsportalen .card .iconmobile {
        display: none;
    }
}


.Kunnskapsportalen .tabs {
    margin-top: 20px;
    justify-content: center;
}

.Kunnskapsportalen .tabs .nav-item {
    color: white;
    font-size: 15px;
    margin: 2.5px 0px 2.5px 6px;
    background-color: #007bff;
}

.Kunnskapsportalen .tabs .nav-item:hover,
.Kunnskapsportalen .tabs .nav-item:focus,
.Kunnskapsportalen .tabs .nav-item:target { 
    background-color: #005fc4;
}

.Kunnskapsportalen .tab {
    margin-bottom: 20px;
    
}

@media (max-width: 1023px) {
    .Kunnskapsportalen #hidden {
        display: none;
    }
}

.InfoTopics {
    margin-bottom: 10px;
    
}

.InfoTopics .btn-primary  {
    margin: 2.5px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: unset;
}

.InfoTopics .btn:hover,
.InfoTopics .btn:focus, 
.InfoTopics .btn:target, 
.InfoTopics .btn:not(:disabled):not(.disabled).active,
.InfoTopics .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #1b8b35;
    border: unset;
}

.UploadFile {
    margin-left: 15px;
}

.UploadFile p {
    margin-left: 5px;
}