.Kunnskapsportalen .container {
    margin-top: 200px;
}

.Kunnskapsportalen .videocol {
    float: left;
}


.Kunnskapsportalen .documentcol {
    float: right;
}

.Kunnskapsportalen .card {
    margin-bottom: 10px;
}

.Kunnskapsportalen .card .title {
    font-size: 24px;
}

.Kunnskapsportalen .card .content {

}

.Kunnskapsportalen .card a {
}

.Kunnskapsportalen .tabs {
    justify-content: center;
}

.InfoTopics .tabs {
}

.InfoTopics .tabs .tab {
    justify-content: center;
}


.UploadFile .modal-header .title {
}