.Login, html, body {
    background-image: unset
    }


@media (max-width: 768px) {
    .App {
    background-color: #0b2c63;
    }
    
    html, body {
    background-color: #0b2c63;
    width: auto !important;
    overflow-x: hidden !important;
    }
    }