.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b2c63;
  height: 80px;
  z-index: 100;
}
.tlogo {
  margin-left: 1rem;
}
.tlogo a {
  color: white;
  text-decoration: none;
  font-size: 5mm;
  font-weight: bold;
}

.tlogo img {
  margin: 8px;
  background: white;
  width: 40px;
  left: 0;
  border-radius: 18px;
}
.freeSpace {
  flex: 1;
}
.tnavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.tNavItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tNavItems a {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 22px 10px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}
.tNavItems li a:hover,
.tNavItems li a:active,
.tNavItems li a:hover {
  background-color: #072557;
  border-bottom: 4px solid #40a4cb;
  color: rgb(216, 216, 216);
}
@media (max-width: 768px) {
  .tNavItems {
    display: none;
  }
  .t-toggle-btn {
    margin-right: 15px;
  }
  .tlogo a {
    font-size: small;
  }
  .tlogo img {
    width: 35px;
  }
}
@media (min-width: 769px) {
  .t-toggle-btn {
    display: none;
  }

  .tlogo {
    margin-left: 0;
  }
}
