.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0b2c63;
  height: 80px;
  z-index: 100;
}
.tlogo {
  margin-left: 1rem;
}
.tlogo a {
  color: white;
  text-decoration: none;
  font-size: 6mm;
  font-weight: bold;
}

.tlogo img {
  margin: 8px;
  background: white;
  width: 40px;
  left: 0;
  border-radius: 18px;
}

.tnavigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.tNavItems {
  margin-left: 50px;
}

.tNavItems ul,
.uNavItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.uNavItems .user {
  position: absolute;
  right: 1rem;
  top: 3px;
}

.tNavItems .linkItem a,
.uNavItems .userItem a {
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 22px 10px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
  font-weight: 500;
}
.tNavItems .linkItem a:hover,
.uNavItems .userItem a:hover,
.tNavItems .linkItem a:active,
.uNavItems .userItem a:active {
  background-color: #072557;
  border-bottom: 4px solid #40a4cb;
  color: rgb(216, 216, 216);
}

.uNavItems .btn:not(:disabled):not(.disabled) {
  transition: unset;
  border-radius: unset;
  background-color: #0b2c63;
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  padding: 22px 10px;
  box-sizing: border-box;
  border: unset;
  border-bottom: 4px solid transparent;
  font-weight: 500;
}

.uNavItems .btn:not(:disabled):not(.disabled):hover,
.uNavItems .btn:not(:disabled):not(.disabled):focus,
.uNavItems .btn:not(:disabled):not(.disabled):active,
.uNavItems .btn:not(:disabled):not(.disabled):target,
.uNavItems .btn:not(:disabled):not(.disabled):visited {
  box-shadow: unset;
  background-color: #072557;
  border-bottom: 4px solid #40a4cb;
  color: rgb(216, 216, 216);
}

.uNavItems .dropdown-item,
.uNavItems .dropdown-item:hover,
.uNavItems .dropdown-item:active {
  color: black;
  background-color: white;
  cursor: unset;
}

@media (max-width: 1024px) {
  .tNavItems {
    display: none;
  }
  .t-toggle-btn {
    margin-right: 15px;
  }
  .tlogo a {
    font-size: 4mm;
  }
  .tlogo img {
    width: 35px;
  }
}

@media (min-width: 1025px) {
  .t-toggle-btn {
    display: none;
  }

  .tlogo {
    margin-left: 0;
  }
}
